.content1 {
    text-align: center;
}

.content1-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    color: #070707;

}

.content2 {
    background: #F6F6F6;
    text-align: center;
    padding: 100px 480px;

}
.content2-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
}

.content2-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
}

.content3 {
    background: #F6F6F6;
    text-align: center;
    padding: 100px 0;
}

.content3-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;    
    color: #070707;
    
}

.content3-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: underline;  
    color: #070707;
}

.content3-image {
    margin-bottom: 40px;
    margin-top: 50px;
}

.content4 {
    text-align: center;
    padding: 100px 0;
}

.content5 {
    background: #F6F6F6;
    text-align: center;
    padding: 100px 0;
   
}

.content5-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
}

.content5-image {
    margin-bottom: 40px;
    margin-top: 70px;
}

.content6 {
    background: #F6F6F6;
    text-align: center;
    padding: 100px 0;
}

.content6-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    margin-top: 40px;    
}

.content7 {
    text-align: center;
}

.content7-title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    text-align: center;
    color: #070707;
}

.content7-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: #070707;
}

.button {  
    margin-top: 60px;
    width: 180px;
    height: 44px;
 
    background: #070707;
    border-radius: 22px;
    border: none;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    margin-bottom: 130px;
}

.content8-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #828282;
}
