.navigation {
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 40px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;

  border-bottom: 1px solid #828282;
}

.content1 {
  text-align: center;
}

.content1-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  color: #070707;
  text-align: left;
  margin-left: 465px;
}

.content2 {
  background: #f6f6f6;
  text-align: center;
  padding: 100px 480px;
}
.content2-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #070707;
}

.content2-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070707;
}

.content3 {
  background: #f6f6f6;
  text-align: center;
  padding: 100px 0;
}

.content3-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #070707;
}

.content3-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
}

.content3-image {
  margin-bottom: 40px;
  margin-top: 50px;
}

.content4 {
  text-align: center;
  padding: 100px 50px;
}

.content4-heading {
  text-align: center;
  padding: 100px 50px;
}

.content4-heading-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #070707;
}

.content4-heading-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070707;
}
.stars-icon {
}

.product-list {
  margin-top: 50px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 48px;
}

.PL-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 80px;

  width: 170px;
  height: 230px;
}

.PL-block-general {
  text-align: center;
}

.PL-block-general-text {
  margin-top: 25px;

  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.02em;

  color: #828282;
}

.content5 {
  background: #f6f6f6;
  text-align: center;
  padding: 100px 0px;
}

.content5-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
}

.content5-image {
  margin-bottom: 40px;
  margin-top: 70px;
}

.content6 {
  background: #f6f6f6;
  text-align: center;
  padding: 100px 0;
}

.content6-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
  margin-top: 40px;
}

.content7 {
  text-align: center;
  margin-top: 100px;
}

.content7-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  color: #070707;
}

.content7-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #070707;
}
.B1 {
  text-align: center;
  margin-top: 60px;
}

.button {
  width: 180px;
  height: 44px;

  background: #070707;
  border-radius: 22px;
  border: none;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;

  color: #ffffff;
}

.social-group {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0px;
  gap: 30px;
}

.content8-text {
  margin-top: 60px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #828282;
}
